TOKEN=your_bot_token

ADMIN_ID=your_admin_id

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_POOL_MIN=
DB_POOL_MAX=
DB_POOL_BURST_MAX=
DB_POOL_SCALE_STEP=

BIRTHDAY_DATABASE=database/birthdate_list.db
